.App {
  background: rgba(8,8,8,.68) url("./Images/pexels-stanislav-kondratiev-2909261.jpg") center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Roboto",sans-serif;
  color: #fff;
  position: relative;
}

.random{
  position: absolute;
  right: 0;
  font-size: 1rem;
  top: 0;
  line-height: 1.4rem;
  padding: 2rem;
  box-shadow: 10px 10px 200px;
}

.weather-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vw;
  margin: auto;
  box-shadow: 10px 10px 500px;
}

.weather-card #current-temp {
  font-size: 3rem;
}

#description {
  text-transform: capitalize;
}

.chart{
  width: 60%;
  margin: auto;
}

.temp {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
